.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    padding-inline: 20px;

    h1 {
        color: white;
        margin-bottom: 20px;
    }

    .about-info {
        display: flex;
        gap: 20px;

        .left {
            display: flex;
            gap: 20px;
            flex-direction: column;
            background-color: #ff7c35;
            padding: 10px 20px;
            border-radius: 10px;
            width: 50%;
        }

        .right {
            width: 50%;
            display: flex;
            gap: 20px;
            .skills-box {


                .skills-header {
                    margin-bottom: 30px;
                }

                .skills-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;

                    span {
                        font-size: 14px;
                        font-weight: bold   ;
                        background-color: rgb(242, 97, 242);
                        color: white;
                        padding: 2px 10px;
                        border-radius: 5px;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .about{
        .about-info{
            flex-direction: column;
            .left{
                width: 100%;
            }
            .right{
                width: 100%;
            }
        }
    }
}